body,html {
  font-family: 'Ubuntu', sans-serif;
}

#chart {
  border: 1px solid #CCC;
  text-align: center;
}

.bar {
  fill: purple;
  shape-rendering: crispEdges;
}

.bar-label {
  fill: white;
  font-size: 14px;
  text-anchor:end;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.gridline path,
.gridline line {
  fill:none;
  stroke: #ccc;
  opacity: 0.7;
}

.trendline {
  fill: none;
  stroke: #d23915;
  stroke-width: 4px;
}

.area {
  fill: #f97120;
}

.hot {
  fill: #f97120 !important;
}

.cold {
    fill: #9fabb7 !important;
}

.pressure {
  fill: #ffcf58 !important;
}

circle {
  fill: #7f1a05;
}

circle:hover {
  fill: #FF5252;
}

div.tooltip {
  z-index : 1;
    position: absolute;
    text-align: center;
    width: 75px;
    height: 35px;
    padding: 2px;
    font: 14px;
    background: #2F2F2F;
    color: white;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
}

.logo-box {
  margin-top: 130px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.add-box {
  margin-top: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo-sep {
  height: 4px;
  width: 72%;
  margin-right: auto;
  margin-left: auto;
  background-color: #464646;
}

.logo-main {
  color: #464646 !important;
  font-size: 85px;
}

.logo-sub {
  font-size: 30px;
  color: grey !important;
}

.add-btn {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f97120 !important;
}

.nav-link {
  font-size: 16px !important;
  color: white !important;
}

.mdl-layout__header {
  background-color: #f97120 !important;
  color: white !important;
}

.title-nav {
  color: white !important;
}

.custom-title {
  font-size: 20px !important;
}

.custom-link {
  font-size: 16px !important;
}

.mdl-layout__drawer-button {
  color: white !important;
}

.cont {
  margin-left: 10px;
}

.mdl-custom {
  margin-right: 20px;
}

.add-btn {
  margin-bottom: 20px;
  color: white !important;
}

.nav-feq {
  margin-top: -20px;
  margin-bottom: -15px;
  margin-left: 35px;
  width: 50% !important;
}

.no-highlight:hover {
  background-color: #fafafa !important;
}

.bar {
  border-radius: 2px !important;
  background-color: grey !important;
  height: 5px !important;
}

.selection {
  background-color: #f97120 !important;
}

.handle {
  background-color: #f97120 !important;
  border-width: 2px !important;
  border-color: #7f1a05 !important;
  top: -5px !important;
  margin-bottom: 0px !important;
  border-radius: 10px !important;
  width: 9px !important;
  height: 9px !important;
}

.m-drawer-title {
  margin-top: 30px;
  color: #464646 !important;
}

.graph-small {
  height: 250px !important;
}

@media (min-width: 1025px) {
  .only-nav {
    display: none !important;
  }
}

@media (max-width: 1026px) {
  .nav-feq {
    margin-left: 14px !important;
  }
}
