<div class="layout-container mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Astraeus <i class="fa fa-area-chart"></i></span>
      <div class="mdl-layout-spacer"></div>
      <a class="mdl-navigation__link nav-link" href="#/graph">Data <i class="fa fa-database"></i></a>
      <a class="mdl-navigation__link nav-link" href="https://github.com/JacobTheEvans/">Source <i class="fa fa-github"></i></a>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="logo-box">
      <h1 class="logo-main">Astraeus <i class="fa fa-area-chart"></i></h1>
      <div class="logo-sep"></div>
      <h2 class="logo-sub">Graphical Representation Of Mars Weather Data</h2>
    </div>
    <div class="add-box">
      <a href="http://marsweather.ingenology.com/" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent add-btn">Data Source</a>
      <a href="#/graph" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent add-btn">Graphs</a>
      <a href="#/graph" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent add-btn">Authors</a>
    </div>
  </main>
</div>
