<div id="scrollArea" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <a class="nav-link custom-title"><span class="mdl-layout-title">{{date}}</span></a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title m-drawer-title">Astraeus <i class="fa fa-area-chart"></i></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link custom-link" href="#/graph">Main Site <i class="fa fa-home"></i></a>
      <a class="mdl-navigation__link custom-link" href="https://github.com/JacobTheEvans">Source Code <i class="fa fa-github"></i></a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="cont cont-pie">
      <div chartpie chart-data="dataToPlot"></div>
    </div>
    <h3 class="sol">Sol Date {{data.sol}}</h3>
    <p class="sol-sub"><a href="https://en.wikipedia.org/wiki/Timekeeping_on_Mars">What is a Sol date?</a></p>
  </div>
