<div id="scrollArea" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="nav-link custom-title"><span class="mdl-layout-title">{{date}}</span></a>
      <div class="mdl-layout-spacer"></div>
      <a class="nav-link custom-title"><span class="mdl-layout-title title-nav"><span class="only-nav">Astraeus</span> <i class="fa fa-area-chart"></i></a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title m-drawer-title">Astraeus <i class="fa fa-area-chart"></i></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link custom-link" href="#/graph">Main Site <i class="fa fa-home"></i></a>
      <a class="mdl-navigation__link custom-link" href="https://github.com/JacobTheEvans">Source Code <i class="fa fa-github"></i></a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="cont">
      <div class="mdl-grid">
        <div class="mdl-cell">
          <h1>{{data.sol}}</h2>
        </div>
      </div>
    </div>
  </div>
